@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

@tailwind base;

@layer base {
  html {
    @apply text-[#4f4f4f];
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-body: #050922;
    --input-border-color: #40F8FF;
    --background-modal: #242532;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-body);
}

.bg-body {
  background: var(--background-body);
}

.bg-gray {
  background: #2A2A2A
}

input {
  border-color: var(--input-border-color) !important;
}

.bg-modal {
  background: var(--background-modal);
}

.bg-linear-blue {
  background: linear-gradient(40deg, #40F8FF, #00BAC1, #2B79A4);
}

